<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hompage</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"crossorigin></script>
    <script src="babel.min.js"></script>
</head>
<style>
    .vang {
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
    }
</style>
<body>
    <div id = "newRoot"></div>
    <script type = "text/babel"></script>
    <script src = "xuly01.js" type="text/babel"></script>
</body>
</html>